[2018-02-19 15:03] neoziro opened #1 "Extend control to Textarea"

[2018-02-20 09:44] #1 closed

[2018-05-28 18:27] neoziro opened #8 "Remove "transition: all""
Resizing textarea is a pain!  https://news.ycombinator.com/item?id=17173476

[2018-05-29 12:18] tgdn opened #10 "Fix website - Uncaught SyntaxError"
Website shows white page, and cosole says:
`Uncaught SyntaxError: Unexpected token <`
`https://smooth-ui.smooth-code.com/mwg-internal/de5fs23hu73ds/progress?id=SUWYxL1NoKxQm3IssUgaeOHW2bppFpfdp1bONfXlbRw,`

[2018-05-29 12:19] #8 closed

[2018-05-29 12:26] tgdn commented on #10
It actually works now. Fixed

[2018-05-29 12:26] #10 closed

[2018-05-30 04:27] rockmandash opened #12 "Switch to emotion css?"
Since emotion css is faster than styled-components, I think you can get some performance by just switching to react-emotion.
If I am wrong please correct me.

[2018-05-30 07:15] neoziro commented on #12
Yes I know, but Styled Components v4 should solve it! The better should be to have the choice between the two but it is very complicated and not for now!

[2018-05-30 07:15] #12 closed

[2018-05-30 12:50] IcanDivideBy0 opened #13 "Slider component"
Any thought on adding a slider component ? something similar to https://material-ui.com/lab/slider/

I'd be happy to contribute if there is a place for this type of component :)

[2018-05-30 15:48] neoziro commented on #13
@IcanDivideBy0 of course! Feel free to add it ;)

[2018-06-19 08:25] tkrugg opened #20 "Radios are not centered :("
![screenshot at jun 19 10-24-39](https://user-images.githubusercontent.com/2982512/41585674-069fec6e-73ab-11e8-9be7-bbd059a39bcc.png)

[2018-08-09 09:53] vvkee opened #21 "Why use the classnames package？"
You have had styled-components, but I am confused why the classnames is be used?

[2018-08-13 14:13] neoziro commented on #21
Smooth UI takes advantage of Styled Components but also use CSS classes to simplify overriding. classnames package is used as an utility to compose classes.

[2018-08-13 14:13] #21 closed

[2018-08-17 04:21] pt-br opened #23 "Handle Input refs"
Hi!

I've already find out how to handle it by reading your src code, so my issue is more like an advise than an issue itself.

Pls write somewhere that you're handling the refs with `baseRef` - as a styled-components user, I was trying to pass the `innerRef` prop.

Thanks!

[2018-08-17 14:31] neoziro commented on #23
Yeah I should update documentation about that specific point. Thanks!

[2018-09-03 16:00] neoziro commented on #12
@rockmandash good news, https://github.com/smooth-code/smooth-ui/releases/tag/v5.0.0

[2018-09-03 16:01] neoziro commented on #20
Fxied in v5.

[2018-09-03 16:01] #20 closed

[2018-09-03 16:01] neoziro commented on #23
@pt-br it is fixed in v5, you can now use `innerRef`.

[2018-09-03 16:01] #23 closed

[2018-09-04 00:00] theKashey opened #25 "Modal Dialog's "scroll lock" is incorrect"
Modal dialog on mounting is setting `overflow:hidden` directly on body, and remove it on unmount.
Don't do that :)

Problems:
 1. What if you have two modals? It will "unlock" scroll after the first unmount.
 2. It will hide scroll bar on windows machines, casing content to "jump"
 3. It does not work for mobile safari at all 😺

https://github.com/theKashey/react-scroll-locky will do the job

[2018-09-04 00:34] theKashey opened #26 "Modals should "manage" focus"
Any "focused task" should trap __focus__ inside, and not let it get out.

Right now:
1. It does not set a focus on modal content, keeping it on the button one clicked to open a modal
2. Does not prevent leaving modal. "tabbing-out" from it.
3. Lucky we - it closes modal on any action "outside"

https://github.com/theKashey/react-focus-lock will do the job :)

[2018-09-04 11:14] neoziro commented on #26
Yes modal have some issues. I will take a look, thanks!

[2018-09-04 11:17] neoziro commented on #25
Thanks, same I will take a look!

The problem with two modals is easy too solve, others are trickier!

[2018-09-04 21:28] ReasonableDeveloper opened #27 "Wrapping component with ThemeProvider throws error"
Hey, thank you for this awesome design system.
I'm using styled-components in my app and just added the <ThemeProvider> component to the top of my component tree. When I try to render any smooth-ui component, it fails with the error `TypeError: props.theme[name] is not a function`.
I tried to prevent styled components from passing the prop to the components but the problem still persisted.
[code]

[2018-09-04 22:04] neoziro commented on #27
Hi! I think you got this error because you use a theme in your application without extending the default theme of Smooth UI. Also you are not using the latest version of Smooth UI. I suggest you to follow the following guides:

- [Getting Started](https://smooth-ui.smooth-code.com/docs-getting-started)
- [Theming](https://smooth-ui.smooth-code.com/docs-basics-theming)

[2018-09-05 01:18] theKashey commented on #25
Just will the issues, and I'll help.

[2018-09-06 22:02] ReasonableDeveloper commented on #27
I did not realize I was running an older verison. Thank you 😊

[2018-09-06 22:02] #27 closed

[2018-09-06 22:27] ReasonableDeveloper opened #28 "Upgrade to styled-component v4"
Styled-component recently released the beta of version 4. They deprecated injectGlobal in the process. https://www.styled-components.com/docs/faqs#what-do-i-need-to-do-to-migrate-to-v4

[2018-09-08 06:59] neoziro commented on #28
Hi @ReasonableDeveloper, thanks! I think I will prepare it and release Smooth UI v6 compatible with Emotion 10 & Styled Components v4.

[2018-09-08 07:05] neoziro opened #29 "Fix `.extend` using Emotion"
Actually `.extend` doesn't have priority over other styles. It should have the same behaviour as with `styled-components`.

[code]

[2018-09-08 07:06] neoziro opened #30 "Fix `.withComponent` using emotion"
Using emotion, `.withComponent` does not work well. Probably related to #29. The style is lost.

[2018-09-08 07:08] neoziro opened #31 "Make modals accessible"
Actually modals are not accessible for severals reasons (see #25 and #26).

Reach UI makes a good work on a11y exploration, see https://ui.reach.tech/dialog.

[2018-09-08 07:27] neoziro opened #33 "Deprecate `component` in favor of `as`"
Styled Components v4 will support `as`, Smooth UI is already supporting `component`. To be aligned, we will deprecate `component` in favor of `as`.

https://github.com/styled-components/styled-components/pull/1962

[2018-09-08 07:31] #29 closed

[2018-09-08 07:35] #33 closed

[2018-09-08 08:11] #30 closed

[2018-09-08 09:48] neoziro opened #37 "Document utilities"
Today, utilities are not documented, let's do it.

[2018-09-08 10:05] #37 closed

[2018-09-08 10:08] neoziro opened #39 "Add support for "prefers-reduce-motion" media query"
Recently in a discussion on Twitter, I discovered a new media query. [Tweet from Luís Fetzner](https://twitter.com/FetzPt/status/1038140423968096257), [Introduction to reduced motion media query](https://css-tricks.com/introduction-reduced-motion-media-query/).

I think removing transitions for users asking for it is very important. Time to do it!

[2018-09-08 11:17] #39 closed

[2018-09-11 17:10] JohnPhoto opened #44 "Missing sm breakpoint in Breakpoint"
When I use the following `Breakpoint`

[code]
I get the following Warning in my console:
[code]

[2018-09-15 07:44] neoziro commented on #44
Hello @JohnPhoto, it is actually a bug. Thanks for reporting it!

[2018-09-16 22:48] #44 closed

[2018-09-27 08:02] AlexandreBroudin opened #53 "Labels inside a switch are considered bad UX"
Without talking accessibility issues,
It is unclear whether the label (‘ON’ for example) is the current state, or the action.

The solution is to place the label outside the switch.

https://github.com/smooth-code/smooth-ui/blob/eba4b7e2078aab4d640cc75f6160f6e7c6976558/docs/components/Switch.mdx#L26

[2018-09-28 00:06] edmundito opened #54 "GettingStarted doc should invoke globalStyle?"
Hello, I was wondering if you could clarify something about the documentation:

https://github.com/smooth-code/smooth-ui/blob/eba4b7e2078aab4d640cc75f6160f6e7c6976558/docs/GettingStarted.mdx#L40

The way I got the global style to work correctly is by invoking globalStyle first:
[code]

Is this a mistake in the doc or is there something I a missing?

In any case, it seems that `injectGlobal` will b

[2018-09-28 12:00] neoziro commented on #54
The correct call is `injectGlobal\`${globalStyle()}\``

I am waiting for styled-components v4 + emotion v10 to be released to change this.

[2018-09-28 12:01] neoziro commented on #53
Are you sure about that? In iOS you can add labels to switches and it is inside the switch.

[2018-10-13 04:57] smebberson commented on #28
I came across this too, I had to use:

[code]

[2018-10-14 17:52] neoziro opened #60 "Make Select more declarative"
The actual `Select` component accepts an object instead of accepting children.

Actual:

[code]

Expected:

[code]

[2018-10-15 22:34] smebberson opened #61 "Dismissable alert"
Would you be interested in having the Alert component updated to be dismissible?

If so, and I were to submit a PR, how would you like me to tackle it? My suggestion is:

- Update the component to accept a func prop called onDismiss.
- If this prop exists, an `x` would appear, on the right side of the box (within the box though).
- When clicked, the onDismiss prop would be called.

I'm happy to ta

[2018-10-17 06:34] jordanoverbye commented on #28
@smebberson answer doesn't seem to work for me, with a fresh react-app from create-react-app I get the following error:

[code]

package.json
[code]

[2018-10-17 09:31] smebberson commented on #28
@jordanoverbye, looks like you're trying to use `injectGlobal` rather than `createGlobalStyle`? Checkout number 4... https://www.styled-components.com/docs/faqs#what-do-i-need-to-do-to-migrate-to-v4

[2018-10-17 15:10] #60 closed

[2018-10-17 15:11] neoziro commented on #61
You mean like [react-toastify](https://github.com/fkhadra/react-toastify) ?

[2018-10-18 09:04] neoziro commented on #53
I think we could notice it in documentation, but even if it is a bad practice, I think it is a common UI thing.

[2018-10-18 09:11] #25 closed

[2018-10-18 09:11] #26 closed

[2018-10-18 09:11] #31 closed

[2018-10-23 12:06] thevangelist opened #67 "Page Crashes on multiple pages: Textarea, Typography, Custom component"
Tried to open documentation with Chrome: https://smooth-ui.smooth-code.com/docs-components-textarea for example crashes, such as "typography" and "custom component" pages.

Result:

![screen shot 2018-10-23 at 15 06 05](https://user-images.githubusercontent.com/3482617/47359341-2f9d0d80-d6d5-11e8-8df0-2a76745c2116.png)

[2018-10-23 17:32] neoziro commented on #67
It is fixed, sorry.

[2018-10-23 17:32] #67 closed

[2018-10-30 08:28] avatar5555555 opened #70 "Col unexpectedly wraps when uses breakpoints"
Example on (codesandbox) [https://codesandbox.io/s/6jk1nq0x8z](https://codesandbox.io/s/6jk1nq0x8z). If try to resize the window col's won't fit as expected (On 'sm' breakpoint 2 rows, on 'md' 1 row).

[2018-10-30 09:37] valcho opened #71 "Inputs render with error state already assumed"
First, thanks for the awesome style library!

I'd like to report an issue I encountered with [this demo](https://codesandbox.io/s/40o45po3l4) where Smooth UI is used with React final form. The issue is that the input fields already come with an error state and are displayed as red.

Tried to debug the issue on my own, but couldn't figure it out on my own.

[2018-10-30 17:41] neoziro commented on #71
Hello @valcho , `valid` should be `false` at start, you must do: `touched ? valid : undefined` instead of just passing `valid`. It should solve your problem.

[2018-10-30 17:42] #71 closed

[2018-10-30 17:48] neoziro commented on #70
You have no the correct `box-sizing`, you can inject [global normalize](https://smooth-ui.smooth-code.com/docs-getting-started#global-normalize-recommended) or you can add:

[code]

[2018-10-30 17:48] #70 closed

[2018-10-30 19:17] avatar5555555 commented on #70
It works, thanks a lot! Sorry fo my inattention.

[2018-11-13 01:56] gtbremer opened #72 "Browser compatibility"
Unless I've missed it somewhere, the documentation does not make it clear what browsers are fully supported by Smooth UI. If this exists in the current docs, can you please point me in the right direction? Thanks!

[2018-11-13 09:28] neoziro commented on #72
Hello @gtbremer, yeah I think it is something that is missing in the documentation.

All browsers supported by Styled Components are supported:

https://www.styled-components.com/docs/faqs#which-browsers-are-supported

[2018-11-13 09:31] neoziro opened #73 "Document browser compatibility"
As pointed in #72, we should document the browser compatibility on the website.

Actually, we rely on [browsers supported by Styled Components](https://www.styled-components.com/docs/faqs#which-browsers-are-supported) or browsers supported by emotion (probably the same).

This issue consist by adding a new FAQ section on the website, same as Styled Components.

[2018-11-13 10:10] #72 closed

[2018-11-13 15:07] Grsmto opened #74 "Differences with Rebass and Reakit"
Hi guys,

I'm currently actively looking into different React UI frameworks and I love the common pattern between _Smooth UI_, _Reakit_ and _Rebass_ of using primitive components and "systems".
My problem is that I'm having issues to choose which one to use!

From what I see you solved some issues from Styled-System or chose different path (for example using an object for media queries instead of

[2018-11-14 08:45] neoziro commented on #74
Hello @Grsmto,

You are right, I don't want to do a comparison between other UI libraries because I think I am not in the position to do it. But I can explain my choices and the history quickly to help you choose:

### Styled System

At start, Smooth UI didn't have a style system. While I worked on a project, I decided to use [styled-system](https://github.com/jxnblk/styled-system/). I immediately

[2018-11-14 12:05] srdmathur commented on #73
I would like to take this up. Can you help me with starting the project on local machine.
upon "**npm run dev**" after "**npm install**", its throwing error :

 ERROR  Failed to compile with 29 errors                                                                                17:32:27
This dependency was not found:

* @smooth-ui/core-sc in ./docs/Home.mdx, ./docs/GettingStarted.mdx and 27 other

[2018-11-14 12:58] neoziro commented on #73
Please use `yarn` instead of npm. I will add a CONTRIBUTING.md file to fix this problem.

[2018-11-14 12:59] neoziro opened #75 "Add CONTRIBUTING.md"
People doesn't know how to contribute on the project, see #73

[2018-11-15 09:32] srdmathur commented on #73
I am still facing the same issue.

[2018-11-15 10:39] neoziro commented on #73
@srdmathur you have to run `yarn build:watch` in background, sorry.

[2018-11-15 12:31] gtbremer commented on #72
Thanks for the info!

[2018-11-18 15:08] #73 closed

[2018-11-22 15:42] rafaelchiti commented on #74
Thanks for sharing context! I wonder what performance issues you encountered with styled-system? I'm using both (styled-system in one project, that required a tailored made design system and sponsoring another project using smooth ui).

Thanks!

[2018-11-22 16:02] neoziro commented on #74
I don't remember but it was mostly iteration on object properties. Smooth UI iterates over component properties, styled-system iterates over all accepted properties.

[2018-11-22 16:02] #74 closed

[2018-11-22 20:00] rafaelchiti opened #78 "Is there a way of adding a custom prop to a component relying on system utilities (like responsiveness)"
I'm trying to add a custom prop to Box (`flexGrow`). I would like flexGrow to inherit the benefits that other props have in smooth-ui system (in this case responsive behavior).
In styled system you would use https://github.com/jxnblk/styled-system/blob/master/docs/api.md#customize
Is there a way to extend Box to support the same?

Thanks!

[2018-11-23 09:35] neoziro commented on #78
No it is not yet possible but I think I would allow it soon.

[2018-12-01 18:25] mvasin opened #79 "TypeScript definitions"
Do TypeScript definitions exist for Smooth UI?

[2018-12-02 05:53] svahdati opened #80 "when i use Textarea Component it's return an input"
hey
i copy this code from doc to my component
[code]

and this return an input

`<input class="sui-input kgmrda-0 fcwcRG" placeholder="Large">
`

how can i fix this?

[2018-12-02 22:35] neoziro commented on #79
Not yet I think.

[2018-12-04 06:34] svahdati commented on #80
hello @neoziro

[code]

[2018-12-04 17:20] neoziro commented on #80
@svahdati can you try to upgrade it?

[2018-12-05 02:40] brandontle commented on #79
Would also love to see Typescript definitions for Smooth.

[2018-12-05 06:01] svahdati commented on #80
@neoziro Thanks, finally it's work.

[2018-12-05 07:45] neoziro commented on #80
Great 👍

[2018-12-05 07:45] #80 closed

[2018-12-11 10:19] rafaelderolez opened #82 "Gutter is not responsive"
I seem to be unable to do the following:

`gutter={{ xs: 10, lg: 20 }}`

This would be useful when making responsive layouts, where I wouldn't want a gutter 40px total (on mobile for example). I haven't been able to dig through the code yet, but would this be possible to add?

[2018-12-11 12:03] pippo111 opened #83 "How to pass html props to element, like aria-label"
I'm working on making my site 100% accessible for screen readers.

How can I pass `aria-*` property to elements like `input` or `button` ?

[2018-12-11 23:14] neoziro commented on #82
Yeah I think it is a good idea! Yes I think it is totally possible to implement it.

[2018-12-11 23:15] neoziro commented on #83
Just pass them to component, they must be added to the HTML, all props are forwarded.

[2018-12-11 23:15] #83 closed

[2018-12-12 18:08] jacekschae opened #84 "Input overflow"
Hello,

I updated the version of the package that shows the Form elements and it seems like there input overflow. Seems like they are longer than all the other elements and they overflow the parent

https://codesandbox.io/s/jjzvqzq31w

Am I doing something wrong here or is this a bug?

[2018-12-13 22:58] smebberson commented on #61
@neoziro, any thoughts?

[2018-12-14 09:11] Ermakoy commented on #79
I can try to implement it.

[2018-12-16 17:31] neoziro commented on #84
Hello @jacekschae, you don't have the correct `box-sizing`, you can inject [global normalize](https://smooth-ui.smooth-code.com/docs-getting-started#global-normalize-recommended) or you can add:

[code]

So no bug!

[2018-12-16 17:31] #84 closed

[2018-12-16 17:54] Ermakoy commented on #79
You want to implement just external types like props for components or make definitions for all package internal functions, utils and components props?

[2018-12-16 18:17] jacekschae commented on #84
Thanks for pointing it out and your reply!

[2018-12-17 13:16] neoziro commented on #79
I would like types for all functions & components exposed to the user.

[2018-12-17 21:23] smebberson opened #85 "Select breaks without options array"
So, if I use `<Select></Select>`:

I get:

![image](https://user-images.githubusercontent.com/74628/50116323-c4695500-0299-11e9-91de-308592ab571c.png)

But if I use `<Select options={[]}></Select>` it works.

However, I think it's a bug.

[2018-12-18 10:57] smebberson commented on #85
Sorry, I was using an older version.

[2018-12-18 10:57] #85 closed

[2018-12-27 19:51] Ermakoy commented on #79
Sorry for big delay, have some troubles.
Currently working on types for components

[2019-01-02 20:19] Ermakoy commented on #79
@neoziro
Please, have a look to PR solving this

[2019-01-03 00:58] theKashey commented on #25
- Add `<input type="text" />` into the modal
- Open it using Safari Mobile
- Select input
- ....
- Safari would use `position:absolute` instead of `position:fixed`, and your customer will lose the modal.

[2019-01-04 05:58] xbrny opened #88 "Overriding font family doesn't change the some of components font family"
Hello, It seems that overriding fontFamily's theme doesn't change the some of components font family for me.
[code]

[code]

[2019-01-04 07:37] neoziro commented on #88
Hello @xbrny, can you provide a reproducible example on CodeSandbox for and example? Thanks!

[2019-01-04 07:49] xbrny commented on #88
Here's the CodeSandbox: https://codesandbox.io/s/xo2vn69y8q

I expect the the root font family gonna change to 'Consolas' or at least Button and Typography component to use the new overridden font (Consolas)

[2019-01-04 07:55] neoziro commented on #25
Hello @theKashey, yeah I know the scroll lock is still incorrect 😣. Can you help on that point?

[2019-01-04 18:08] neoziro commented on #88
OK I see what is your problem, for now `globalStyle` accepts a `theme` property:

[code]

It will not be the case any more with next version (supporting emotion 10), but for now it still requires (even if you don't use emotion).

Thanks for your repro it helped a lot!

[2019-01-04 18:08] #88 closed

[2019-01-05 18:13] NYCJacob opened #89 "Modal component defaultToggled and open attribute"
I am trying to have a modal default to open but allow the user to dismiss the modal.  When I use <Modal opened={true} the onClose onToggle(false) function does not close the modal.  Passing defaultToggled with Toggler doesn't seem to effect the modal being opened.  I was hoping I could pass defaultToggled={true} but that doesn't seem to be allowed.
Great project!

[2019-01-07 16:02] neoziro commented on #89
Hello @NYCJacob, can you provide a reproduction example (using CodeSanbox for an example). Thanks!

[2019-01-07 16:12] #79 closed

[2019-01-17 08:50] jacekschae opened #96 "padding and margin of value 1 has bigger value than value 2"
## 💥 Regression Report

Just migrated to 8.0 and see that values for padding (p, px, py ...) and margin (m, mx, my) of value `1` have value of `64px` where value of `2` has `16px`.

Examples:

`pb: 1`

<img width="268" alt="screen shot 2019-01-17 at 09 41 11" src="https://user-images.githubusercontent.com/31179812/51305919-71bbbe00-1a3c-11e9-9476-e32b9d74c5e7.png">

`pb: 2`

<img width="268" alt="

[2019-01-17 09:30] neoziro commented on #96
Hello @jacekschae, thanks for the bug report. I will work on it in a couple of hours. I see what is the problem. It will be fixed soon.

[2019-01-17 09:53] jacekschae commented on #96
Glad to help! Thanks for smoth-ui!

[2019-01-17 11:17] #96 closed

[2019-01-17 11:23] jacekschae commented on #96
Thanks!

[2019-01-18 15:40] jacekschae opened #99 "React does not recognize the `__scTheme`"
## 💬 Questions and Help

I'm using smooth ui modal and get following error in the console whenever i open a modal in my app
[code]

What am I doing wrong 🤔?

[2019-01-19 22:05] chasm opened #100 "Not enough issue templates"
Your three issue templates don't cover all the types of issues. For example, I want to raise an issue about a matter of accessibility and your documentation. There is no obvious way to do that, so I am forced to go outside your templates, which means that my issue may be closed without comment. It seems a bit Kafkaesque. Surely, there are more than three types of issues.

[2019-01-19 22:11] chasm opened #101 "h1-6 are not sizes (accessibility issue)"
https://smooth-ui.smooth-code.com/docs-components-typography

Under headings: "Six size of headings are available."

The 1-6 in `h1`-`h6` are not sizes. They have nothing whatsoever to do with how the text is styled in the browser. That is the remit of CSS.

1-6 have to do with *nesting*. The top-level heading *must* be `h1`. Subsections of that article would use `h2`. If a subsection is further d

[2019-01-19 22:48] chasm commented on #101
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements

[2019-01-21 16:36] neoziro commented on #99
Hello @jacekschae, I think you are doing something wrong, this property is in the theme and should not be part of a component. I think you are spreading the theme somewhere.

[2019-01-21 16:36] #99 closed

[2019-01-21 16:37] neoziro commented on #100
Hello @chasm, feel free to submit an issue out of existing templates, if it is important and relevant I will definitely consider it! Also feel free to submit a new issue template if you found it relevant. I don't close any issue without reading the content.

[2019-01-21 16:37] #100 closed

[2019-01-21 16:39] neoziro commented on #101
Yeah you are right, it could be renamed. I was inspired by Bootstrap to create this component. As you can see, [they have the same issue](https://getbootstrap.com/docs/4.2/content/typography/#headings) but I think we could make it better in Smooth UI. Open to propositions for a renaming!

[2019-01-21 18:36] jacekschae commented on #99
Hello @neoziro

I'm not sure if it's me 🤔

I used create react app and added smooth-ui (repo: https://github.com/jacekschae/smooth-ui-modal) after opening the modal I have following error in the console:
[code]

I think this has to do with v8, I didn't have this error before.

Hope that helps

[2019-01-21 18:42] jacekschae commented on #99
This is independent of adding `<ThemeProvider theme={theme}>` or not

[2019-01-22 01:56] theKashey commented on #25
Solved by creating another library :)

[2019-01-22 08:04] neoziro commented on #99
My bad, there was an error. I fixed it, I will publish a new release soon. Thanks for reporting!

[2019-01-23 03:19] ividic commented on #99
Hey @neoziro, I'm also seeing this issue in the following scenario:

[code]

[code]

The issue seems to be when using the `as` prop, as the following code does not trigger the error:
[code]

[CodeSandbox demo](https://codesandbox.io/s/m7332zl39x)

[2019-01-23 12:21] jacekschae commented on #99
Hi @ividic
`as` has changed in v8 to `uiAs` after doing this small change the console in the code sandbox is clear

[2019-01-23 13:34] jacekschae commented on #101
How about just removing - _size of_

The sentence would read:
Six headings are available.

[2019-01-23 21:23] ividic commented on #99
Thanks @jacekschae, I missed that change - fixed now.

[2019-01-24 02:07] tfriem opened #104 "Using custom theme colors in ThemeProps"
When adding a new color to a theme, it's not possible to use it in props like backgroundColor. Using it with the variant prop or inside the th() function with styled seems to work fine.

Did I hit a bug or is there a reason for this behavior?

Example: https://codesandbox.io/s/ql452yrz7j

[2019-01-24 17:50] elliottsj opened #106 "@smooth-ui/core-em + TypeScript: TS2307: Cannot find module 'styled-components'."
## 🐛 Bug Report

Hello, thanks for developing Smooth UI! 👋

I am getting started using emotion + @smooth-ui/core-em + TypeScript, and I'm encountering this error:

[code]

## To Reproduce

Steps to reproduce the behavior:

[code]

Output:

[code]

## Expected behavior

No TypeScript error raised.

## Link to repl or repo (highly encouraged)

(I hope the three repro steps above are enough. I can cr

[2019-01-25 01:35] robbywashere commented on #106
If you are using smooth-ui with emotion, you will want the `@smooth-ui/core-sc` package instead of `@smooth-ui/core-em`

see: https://github.com/smooth-code/smooth-ui/blob/d311640b7f6e2e5b6fe63bbae0f5a90ae66ceaca/docs/basics/Utilities.mdx#L17

[2019-01-28 11:23] neoziro commented on #99
Yeah, I am actually working on removing "uiAs" and also removing this weird theme prop.

[2019-01-28 11:31] neoziro commented on #106
Hello @elliottsj, thanks for the issue. It is a TypeScript issue, I can't fix it on my own. Help is welcome here!

[2019-01-28 11:49] jacekschae commented on #99
Does this mean it will be back to `as`? If yes, when will it be available?

[2019-01-28 12:40] neoziro commented on #99
Yes, by the end of the week I think.

[2019-02-01 12:48] xeoneux opened #109 "`ThemeProvider` is not in exported typings"
## 🐛 Bug Report

The dist has no exported member `ThemeProvider`

## To Reproduce

Try `import { ThemeProvider } from "@smooth-ui/core-sc";` in a `.tsx` file

## Expected behavior

Typings for `ThemeProvider` to exist! 😄

[2019-02-01 19:01] pippo111 opened #110 "Theme for Select and Validation"
## 💬 Questions and Help

In default theme I can add styling for inputs. I would be great if the styles applied to inputs also be applied to select items. Is there any option for setting background color for select in theme.js or I need to set it by the class names in global stylesheet ?

[2019-02-04 09:51] #89 closed

[2019-02-04 09:51] neoziro commented on #89
Inactive, I close it.

[2019-02-04 09:58] #106 closed

[2019-02-07 13:46] GuillaumeDesforges opened #113 "Col offset not implmented in TypeScript"
## 🐛 Bug Report

When using @smooth-ui/core-sc with TypeScript (v 9.0.1), one cannot add an offset to a `Col` in a `Row` in a `Grid`.

## To Reproduce

Steps to reproduce the behavior:
* Create a TypeScript project with TSLint
* Install @smooth-ui/core-sc version 9.0.1
* Create a simple component with `Grid`, `Row`, `Col`
* Try to set property `oxs` or related to any value
* TSLint highlights a TS

[2019-02-11 07:17] neoziro commented on #113
Hello @GuillaumeDesforges, thanks for reporting. Help is welcome.

[2019-02-16 07:37] chasm commented on #101
I like @jacekschae's idea, but even better would be "A top-level heading (h1) and five subsection headings (h2-h6) are available. Please use these in accordance with [current best practices](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements). They are not intended to control font size: use CSS for that when necessary."

[2019-02-19 08:28] neoziro commented on #101
@chasm OK. Can you update documentation with it?

[2019-02-25 13:47] rlax commented on #113
In addition to my PR fixing this issue, there are more errors in `.d.ts` when we compare it to PropTypes (i.e. boolean `sm`, `xs` values...)

What approach do we choose when solving related problems? I can propose creating and fixing issues or maybe some kind of milestone for ts/propTypes consistency.

[2019-02-26 07:56] #113 closed

[2019-03-09 13:19] muhajirdev opened #119 "Using gradient with variants?"
Hi there, awesome project.

I have a question. I am trying to put this in primary variant.
[code]

which seems not working. Maybe because it's using backgroundColor instead of background.

[2019-03-09 13:21] muhajirdev commented on #119
Also, I think it would be better if variant is not just based on color. For example, `boxShadow` maybe some people want variant primary with color + boxShadow.

[2019-03-10 21:07] neoziro commented on #119
Hello @muhajirdev, thanks for this issue. Yes `variants` are not very good actually, we have to polish them. I will try to find a generic solution to solve these kind of problems.

[2019-03-12 07:18] #101 closed

[2019-03-20 13:55] viczam opened #121 "styled-system"
Why isn't smooth-ui using [styled-system](https://styled-system.com) already? It seems like the effort is duplicated right now.
On top of that, styled-system comes with a pretty good theme specification.

Btw, I think you've done an amazing job so far with smooth-ui!

[2019-03-21 08:13] neoziro commented on #121
Hello @viczam, styled-system is not fully compatible yet with what I want to achieve. It is plan to add missing feature into styled-system to be able to use it!

[2019-03-21 09:53] viczam commented on #121
I've actually noticed that you're doing a couple of things better (like class duplication to increase specificity). On top of that, you're following the theme specification as well (which I thought it's not happening).
Bottom line - I like better the styled-system from smooth-ui :)
Again, thank you very much guys for what you've been able to do so far!

[2019-03-21 09:53] #121 closed

[2019-03-21 15:39] neoziro commented on #121
Even if projects are not merged, I will stick to theme convention imposed by styled-system (eg. space and not spaces). I will do it in next major.

[2019-03-21 16:24] viczam opened #123 "Grid row negative margin"
Isn't a grid `<Row />` suppose to have negative margin to cancel the horizontal padding added by `<Col />`'s gutter?

[2019-03-21 16:45] neoziro commented on #123
Yes it is fixed sorry!

[2019-03-21 16:45] #123 closed

[2019-03-21 18:00] viczam commented on #123
Awesome, I just noticed the commits.

[2019-03-25 06:02] HadeAs opened #125 "a question about docz"
hi, I have a componet API doc used docz, i have a question when used it.
I can't use experimental class properties, when defining a class in Playground
[code]

I tried this `doczrc.js`:
[code]

Create a new Playground like this:
[code]

[code]

[2019-03-25 06:04] HadeAs commented on #125
I saw your doc used classProperties(eg: Modal component),  so pls help me.

[2019-03-25 07:58] neoziro commented on #125
Hello @HadeAs, docz is kind of magical. I don’t exactly know why it is working for me and not for you. I suggest you to submit a new issue on docz. But I think you should wait for v1, before doing anything.

[2019-03-25 07:58] #125 closed

[2019-03-25 08:00] HadeAs commented on #125
ok  thanks

[2019-03-28 15:58] vripoche opened #126 "gutter prop appears on Dom Element when it is applied on Col"
## 🐛 Bug Report
SmoothUI 10.0.2

On adding a gutter on `Col`, it is works but the props appears col element in DOM.

- add `gutter={0}` on `Col` Smooth UI `Grid` item:
[code]

![image](https://user-images.githubusercontent.com/630358/55172141-da7c9080-5179-11e9-9268-475b3254628b.png)

It should not appear in DOM because it is not a standard attribute for DOM element.

[code]

[2019-03-29 09:51] neoziro commented on #110
Hello @pippo111, I think we can't style them I am sorry..

[2019-03-29 09:51] #110 closed

[2019-03-29 11:38] #126 closed

[2019-04-04 15:05] gagandeepgill opened #127 "Missing Tooltip type"
## 🐛 Bug Report

Missing `Tooltip` exported type.

## To Reproduce

Steps to reproduce the behavior:
1. Try `import { Tooltip } from "@smooth-ui/core-em";` in a `.tsx` file

## Expected behavior

## Link to repl or repo (highly encouraged)

Issues without a reproduction link are likely to stall.

## Run `npx envinfo --system --binaries --npmPackages @smooth-ui/core-sc,@smooth-ui/core-em,styled-com

[2019-04-05 18:56] neoziro commented on #127
I don't write TypeScript type, a PR is welcome to fix it.

[2019-04-09 19:41] midnightcodr commented on #110
You can't style them directly but you can use the following (tested) workaround
[code]
And make sure you apply `GlobalStyle` in your root component like [this](https://www.styled-components.com/docs/api#createglobalstyle)

Later on in your component,
[code]

If you try to style `Select` using styled-components, it won't work either because, take the following code for example,
[code]
The `backgrou

[2019-04-11 21:34] midnightcodr opened #128 "Not able to scroll a long modal"
## 🐛 Bug Report

A clear and concise description of what the bug is.
https://wkx04p7yp8.codesandbox.io/
## To Reproduce

Please go to https://wkx04p7yp8.codesandbox.io/, switch to mobile mode, then try to scroll the content using a pointer device (it will be a user's finger for a real mobile device), you will find that scrolling is impossible using a pointer device with two exceptions:
1) you can

[2019-04-11 21:37] midnightcodr commented on #128
Never mind, I was not using the data type for attribute `overflow`. Fixed.

[2019-04-11 22:14] midnightcodr opened #129 "Can I specify mount node with Modal"
With `semantic-ui-react`, I am able to specify where to mount a modal in the DOM using attribute `mountNode`, is there something similar I can use with smooth-ui? The reason I am asking is because I have the following workflow in one of my projects.

Start with a form with some text fields and a preview button. When the preview button is clicked, a modal opens with some terms and conditions text,

[2019-04-12 06:32] neoziro commented on #129
Hello @midnightcodr, for now you can't. I suggest you to create a fake button and submit the form manually. Anyway modals have to be outside the root if you want a correct display. Else any "relative" position will break it. So it is probably better to choose another solution.

[2019-04-12 06:32] #129 closed

[2019-04-12 06:33] neoziro commented on #128
Actually it is a true bug, visible in documentation. I think it is relative to scroll blocking, cc @theKashey.

[2019-04-12 10:33] rlax commented on #82
@rafaelderolez it was implemented in v10. [New documentation for these changes](https://github.com/smooth-code/smooth-ui/commit/7bc0b8c0b5839d461c30ec454cd9d7d2a6dbcce7#diff-0713e3606c3fe96e2b5f33df29b8a570R313)

Check out this example: https://codesandbox.io/s/5k5081lxw4

[2019-04-12 11:23] theKashey commented on #128
Yeah. It’s partially my fault. Lock should allow _some_ move if target is greater than parent. Just a few lines no fix in conditions.

[2019-04-12 11:24] theKashey commented on #128
Could be easily fixed with a proper overflow, but better to be solved on a lover level

[2019-04-12 13:03] #82 closed

[2019-04-15 11:37] theKashey commented on #128
There was a mistake in scroll _possibility_ calculations, which led to a false negative in case of `smooth-ui`.
Please update `react-remove-scroll` - just remove it from `yarn.lock` or `package.lock` and reinstall packages - https://codesandbox.io/s/6jqlqwmllk

[2019-04-18 15:29] warrenmcquinn opened #131 "Add "cursor: disabled;" for Button component while disabled"
## 🚀 Feature Proposal
Currently, `<Button disabled />` uses the "cursor: pointer;" style property, and I propose that this should be changed to "cursor: disabled;".

## Motivation

This library is awesome, and this is a little tweak to improve accessibility. The `disabled` prop's semi-opaque style doesn't really shout "don't click me".

[2019-04-23 21:56] ReasonableDeveloper commented on #109
@nc9 I'm not getting the typescript error when importing it from `emotion-theming` instead of `@smooth-ui/core-sc`. Unfortunately, the theme is is only working for me when importing from the latter.

[2019-04-24 10:17] viczam opened #132 "Tooltip and popover should pass `placement` down to `Component`"
I believe is pretty common to customise the appearance of `Component` based on placement (like displaying a triangle pointing the direction).

For now, the alternative is something like this:

[code]

[2019-04-24 10:21] viczam commented on #131
Is there such a thing as `cursor: disabled;`? Maybe `cursor: not-allowed;`.

[2019-04-29 08:46] marcinkaczor opened #133 "Events are not propagated down to the Tooltip on mobiles"
## 🐛 Bug Report

I have noticed, that for more than one tooltip component on a page (tooltips are generated in loop), events are not propagated down to the Tooltip.

As a result, when I have have a Box component around the Tooltip with onClick and I click on tooltip it does not trigger, but only when I remove styled component.

This bug occurs only on mobiles.

Example code:

[code]

[2019-04-29 11:52] neoziro commented on #109
Feel free to submit a PR to fix it.

[2019-04-29 14:19] neoziro commented on #132
Just use the "x-placement" property, see the following example:

[code]

[2019-04-29 14:19] #132 closed

[2019-04-29 14:21] neoziro commented on #131
In fact a button should not have the `cursor: pointer;` by default. But if disabled, I think using the default cursor is a good choice: https://codesandbox.io/s/1xpzoqwmj

Could someone submit a PR to fix it?

[2019-04-30 11:18] neoziro commented on #133
Hello @marcinkaczor, your styled-component (like all components) must be defined statically. I think it is the source of the bug.

[2019-04-30 11:19] neoziro commented on #133
@marcinkaczor can you please close the issue if it was the source of the bug?

[2019-04-30 14:41] marcinkaczor commented on #133
Yes, @neoziro. This is the source of the bug. Thank you!

I am closing this issue.

[2019-04-30 14:41] #133 closed

[2019-04-30 15:34] 1natsu172 opened #134 "Broken when using nested theme properties"
## 🐛 Bug Report

### Broken when using properties nested in the theme object.

At `@smooth-ui` version `10.0.7`

_**Error message**_

## To Reproduce

* Define colors object for theme.

[code]

* Create **nested** properties theme object

example of bug

[code]

* Create **non nested** properties theme object

example of work fine.

[code]

## Expected behavior

Should work even if the theme objec

[2019-05-02 07:18] neoziro commented on #134
In fact, Smooth UI already uses `theme.colors`, you have to specify the default one from Smooth UI. See this updated example: https://codesandbox.io/s/k14xmwow95.

We should definitively explain it in the documentation.

[2019-05-02 07:18] #134 closed

[2019-05-02 15:09] 1natsu172 commented on #134
Ah I see. It conflicts with the default theme of Smooth-UI.
Thank you for telling the solution of sandbox example.

[2019-05-02 23:23] ReasonableDeveloper opened #135 "Property 'type' does not exist on Button"
## 🐛 Bug Report
Error when using 'type' property on a `smooth-ui` styled-components `Button` component.

<details>
<summary>Error</summary>

[code]
</details>

## To Reproduce

[code]

## Expected behavior

No error to be raised

## Link to repl or repo

https://codesandbox.io/s/k9479j5mx7

## Run `npx envinfo --system --binaries --npmPackages @smooth-ui/core-sc,@smooth-ui/core-em,styled-component

[2019-05-04 11:07] neoziro commented on #135
Types are no longer part of this library, please add them to https://github.com/DefinitelyTyped/DefinitelyTyped.

[2019-05-04 11:07] #135 closed

[2019-05-04 11:07] neoziro commented on #127
Types are no longer part of this library, please add them to https://github.com/DefinitelyTyped/DefinitelyTyped.

[2019-05-04 11:07] #127 closed

[2019-05-04 11:08] neoziro commented on #109
Types are no longer part of this library, please add them to https://github.com/DefinitelyTyped/DefinitelyTyped.

[2019-05-04 11:08] #109 closed

[2019-05-07 11:27] pippo111 opened #137 "Modal is closing when moving mouse selection outside container"
## 🐛 Bug Report

Modal box is closing unexpectedly when moving mouse selection outside container.

## To Reproduce

Open modal box, select some text and with active selection move mouse pointer outside of modal's container, then release mouse button. See:

![smoothui-modal-bug](https://user-images.githubusercontent.com/22401020/57295607-2e5c8c80-70cb-11e9-99a8-0cb1a2413bb3.gif)

## Expected behavi

[2019-05-09 17:47] neoziro commented on #137
Hello @pippo111, hmm yes I think it should not be the behaviour, it is actually a bug.

[2019-05-09 23:11] ReasonableDeveloper commented on #79
Hey @Ermakoy. In this [issue](https://github.com/smooth-code/smooth-ui/issues/109) I found out that types will no longer be part of this repository. Could you put the types onto the [definitely typed repostory](https://github.com/DefinitelyTyped/DefinitelyTyped). Even if not all the latest types are valid, I would love to contribute as I've started monkey patching some `smooth-ui` types in my proj

[2019-05-13 07:51] Ermakoy commented on #79
Hello, @ReasonableDeveloper.
Ok, i will upload types

[2019-05-15 18:53] petevk opened #138 "Toggle component no longer toggles after the first toggle"
## 🐛 Bug Report

The `Toggler` component doesn't seem to allow for toggling after it's been clicked once. I was using smooth-ui 7.x and it would allow the `onToggle` button to be clicked more than once, but after upgrading to 10.x it hasn't worked anymore.

This bug is also present in the living docs [here](https://smooth-ui.smooth-code.com/docs-utilities-toggler).

I know the render prop signatur

[2019-05-16 14:11] petevk commented on #138
Alright I think I see what happened.

In my codesandbox and the docs, the toggler component is created like this:

[code]

This doesn't work like it did in 9.x and below. However, this **does** work:

[code]
(notice the difference in the `onClick` function)

This changed because of [this line](https://github.com/smooth-code/smooth-ui/blob/v9.1.0/packages/shared/core/Toggler.js#L21) in 9.x, which c

[2019-05-17 12:09] neoziro commented on #138
Since event is considered as `true`,  the actual behaviour looks correct to me. But maybe we should test if it is a boolean to avoid this kind of errors. So can you please add a check on boolean in a PR?

[2019-05-17 12:44] petevk commented on #138
The event is considered `true`, but since it's being set to true on every onclick it means it never toggles.

I'll see if I can get something up later today. Thanks!

[2019-05-17 14:19] neoziro commented on #138
Closed by #139

[2019-05-17 14:19] #138 closed

[2019-05-28 15:58] jyash97 commented on #131
Hey @neoziro Can I take this up ?

[2019-05-28 19:40] neoziro commented on #131
@jyash97 feel free!

[2019-06-12 14:11] ancashoria opened #143 "Grid Cols not taking 100% width on mobile"
## 💥 Regression Report

Grid Columns were taking the whole width on mobile, but now they just split the available space.

## Last working version

Worked up to version:

Stopped working in version:

## To Reproduce

[code]

## Expected behavior

The columns should be displayed one under the other instead of side by side

https://upbeat-noyce-c884dc.netlify.com/

[code]

I hacked it by using `<Col

[2019-06-17 09:46] #131 closed

[2019-06-17 09:48] neoziro commented on #143
This is the excepted behaviour. By default, Col has a `flex: 1`. If you want full width, use `xs={12}`.

[2019-06-17 09:48] #143 closed

[2019-06-18 20:14] ancashoria commented on #143
Got it,
thanks for letting me know.

[2019-06-18 20:21] ancashoria commented on #143
Also, great work on this library, it's a joy to use

[2019-08-13 22:10] hoshomoh commented on #104
@neoziro just calling your attention to this. Or you can point me in the right direction and I can try to make a PR

[2019-08-16 13:07] willredington commented on #79
was this ever uploaded?

[2019-08-19 07:05] rumsky opened #145 "Add dropdown or dropdown menu"
## 🚀 Feature Proposal

would you like add a dropdown component?
This dropdown can trigger by 'click' or 'hover'
## Motivation

Nav menu or dropdown menu is common situation for web app

[2019-08-19 10:20] rumsky opened #146 "Popover add 'trigger'('click' | 'hover') prop and 'animation'"
## 🚀 Feature Proposal

Popover add 'trigger'('click' | 'hover') prop and 'animation'

## Motivation
trigger open by clicking or hovering
add animation effect to popup

[2019-08-27 07:30] neoziro commented on #146
Popover is gone in v11, please migrate to [Reakit Popover](https://reakit.io/docs/popover/).

[2019-08-27 07:30] #146 closed

[2019-08-27 07:31] neoziro commented on #145
For now it will not happen, you should use [Reakit](https://reakit.io/) to build one.

[2019-08-27 07:31] #145 closed

[2019-08-27 07:31] neoziro commented on #137
Modal is gone in new release, please use [Reakit Dialog](https://reakit.io/docs/dialog/) instead.

[2019-08-27 07:31] #137 closed

[2019-08-27 07:32] neoziro commented on #128
Modal is gone in new release, please use [Reakit Dialog](https://reakit.io/docs/dialog/) instead.

[2019-08-27 07:32] neoziro commented on #104
It is fixed in v11, theme is now merged correctly.

[2019-08-27 07:32] #104 closed

[2019-08-27 07:33] neoziro commented on #54
No longer relevant in v11.

[2019-08-27 07:33] #54 closed

[2019-08-27 07:33] neoziro commented on #53
I choose to let them, but by default they are not present.

[2019-08-27 07:33] #53 closed

[2019-08-27 07:34] neoziro commented on #13
Unfortunately it will not happen! v11 is a complete rewrite, maybe maybe not, anyway I close it.

[2019-08-27 07:34] #13 closed

[2019-08-27 07:35] neoziro commented on #119
Only color variants are supported in v11. If you want to do so, you have to add custom style to the component.

[2019-08-27 07:35] #119 closed

[2019-08-27 07:36] neoziro commented on #78
v11 relies on [xstyled](https://www.smooth-code.com/open-source/xstyled/) currently it is not extendable but it supports all properties.

[2019-08-27 07:36] #78 closed

[2019-08-27 07:40] #75 closed

[2019-08-28 10:03] darekkay opened #149 "Accessibility issues"
## 🐛 Bug Report

The framework advertises "Accessibility" and WAI-ARIA compliance. While in general it looks quite good, I have found multiple a11y issues.

- While the focus ring looks great for input components, it's completely missing for buttons. Keyboard users won't know which element is currently focused.
- Some Button colors do not pass the contrast-ratio as per WCAG (e.g. the green Success

[2019-08-28 10:20] neoziro commented on #149
Hello @darekkay, thanks for reporting it! PR are welcome to fix this issues, else we will take care of fixing them as soon as possible!

[2019-08-29 11:13] vripoche opened #150 "Is it possible to have a migration documentation particularly for Grid System components ?"
Hello,

We use a lot SmoothUI in our products, and you know it ;-), the new version should be really nice but we are a little bit afraid about the amount of components which are disappeared.
I read that we can found most of them in Reakit but `Grid` is not inside for example.

Is it possible to have a migration documentation page with your advices for each disappeared components and how it can be

[2019-08-29 14:30] neoziro commented on #150
Hello @vripoche,

`Grid` is the missing one yes, I plan to add it in Smooth UI, in the meantime, it is very easy to reimplement: https://github.com/smooth-code/smooth-ui/blob/v10.1.0/packages/shared/core/Grid.js#L29

About `Row` and `Col`. They are still present but everywhere as [`row` and `col` prop](https://www.smooth-code.com/open-source/xstyled/docs/system-props/#xgrids).

About `Dialogs`, `P

[2019-08-29 15:06] vripoche commented on #150
Hi,

Thank you for your fast feedback.

I have answers now ;-) We will study more accurately the xstyled documentation and we will be very grateful If you find time to create a migration guide, I am sure it will be very useful for all SmoothUI users.

[2019-08-29 22:07] a-r-d opened #151 "Host old versions of the docs somewhere"
## 🚀 Feature Proposal

The new version of `smooth-ui` came out recently with totally new docs. I tried to get to the docs to look something up and I could not find it because now the docs site only shows the new docs, and I need to see the old version.

Anyway, I hosted v10 docs here **temporarily** to help people out:
https://awesome-hypatia-0dd1b6.netlify.com/

But, it would be great if this was

[2019-08-30 07:51] neoziro commented on #149
Do you have an idea to fix it?

[2019-08-30 07:52] #150 closed

[2019-08-30 07:52] #151 closed

[2019-08-30 09:10] darekkay commented on #149
1. Find all contrast ratio issues using any tool ( e.g. Chrome DevTools Audit or pa11y)
2. Choose better values, either with https://contrast-ratio.com/ or again using the [Chrome Dev Tools](https://webaim.org/articles/contrast/devtools)

[2019-08-30 09:14] darekkay commented on #149
Here's a result from [web.dev](https://lighthouse-dot-webdotdevsite.appspot.com/lh/html?url=https://www.smooth-code.com/open-source/smooth-ui/docs/button/#accessibility) (which uses Google Lighthouse)

[2019-08-30 14:51] neoziro commented on #149
Thanks, but the color generated is automatic. So I would need a function that uses the best approaching color to meet the contrast requirement.

[2019-09-05 20:05] adambisek opened #156 "How to zde theme getters in own component?"
Hey there,
I am using smooth ui with styled components, using `@xstyled/styled-components` ThemeProvider.

I came across documentation of smooth ui and also xstyled doc and I am wondering, how can I get in custom component some variable from theme. I’ve tried theme getters to get value from theme that is in context but is not working as expected:

[code]

Theme getter returns currying function, bu

[2019-09-06 07:15] #156 closed

[2019-09-23 22:39] diegohaz commented on #149
Not sure if it helps, but we're experimenting with [automatic generation of contrast colors in Reakit](https://github.com/reakit/reakit/blob/8837557636432cd7c6202a67e5d7d2ad5fdd4db6/packages/reakit-system-palette/src/utils/contrast.ts).

Some usage examples can be seen [here](https://github.com/reakit/reakit/blob/8837557636432cd7c6202a67e5d7d2ad5fdd4db6/packages/reakit-system-palette/src/palette.t

[2019-09-24 07:48] neoziro commented on #149
Hello @diegohaz, thanks it is very interesting! Also the current approach need to be rethink with CSS Custom Properties. We will have to create a transformation and to pre-generate it, not at runtime.

[2019-09-24 16:40] diegohaz commented on #149
Babel macros may help.

[2019-10-21 10:59] linus-amg commented on #149
I would like to add 2 more bugs to this  issue:

- when using SSR (for example with Next.js) the smooth-ui's useRandomId method is getting in the way of proper react component rehydration as soon as the developer starts implementing a form, since label and input ids get generated randomly, they differ on the serverside rendered and client side rendered component, so every component using a form ne

[2019-10-28 08:59] Studio384 opened #160 "Firefox logo"
## 💬 Questions and Help

I found no information on this, so I'm just asking it here:

Why is the Smooth UI logo a (just slightly) recolored version of the Firefox (not Firefox Browser, just Firefox) logo with a stick under it?

[2019-10-30 12:20] cameronbraid opened #161 "Roadmap ?"
Can you please publish a Roadmap

I'm looking into different ways to theme Reakit components and came across smooth-ui

I like your approach better than the reakit-system aproach as it seems more flexible, and simpler.

Are you planing on implementing the other reakit components - Tab in particular ?

[2019-10-30 21:46] neoziro commented on #160
Because I like it 😅! It is inspired by, but redesigned, and it is lollipop 🍭

[2019-10-30 21:46] #160 closed

[2019-11-05 01:06] iilei commented on #79
any chance for a `@types/smooth-ui__core-sc` package?

[2019-11-19 04:40] ryanwang520 opened #162 "Add another ref prop for `Checkbox` and `Radio` component"
## 🚀 Feature Proposal

`Checkbox` and `Radio` components provide some way to access the underlying input element.

## Motivation

Sometimes it's handy to access the input element directly(Such as integrate with [react-hook-form](https://github.com/react-hook-form/react-hook-form)), while the `Checkbox` and `Radio` components both only accept the `ref` prop which  let us access the wrapping div ele

[2020-01-18 22:34] dhenson02 opened #163 "Can't render inputs in browser, react 16.12, smooth 11.1.5"
## 🐛 Bug Report

Attempting to render a component (so far Checkbox and Input) fails with the following error:

[code]

One example:

[code]

When debugging I can see in `getThemeCache(theme)` it doesn't find a cached theme and at that point tries to cache a new one but does so using the `undefined` theme var (hence the error).  I am doing nothing with themes, just npm install and imported to JS.

[2020-01-27 09:13] jonogreenz commented on #163
Getting same issue with same `react` and `smooth` versions. Downgrading to `react @ 16.11.0` or ` smooth @ 11.1.1` appears to fix the issue.

I do notice that there are a few changes made in `11.1.1` (https://github.com/smooth-code/smooth-ui/commit/fc74682) which appear to change the way themes are handled

[2020-01-31 14:11] siva3378 opened #164 "How should I use fontSizes in theme object?"
## 💬 How should I provide fontSizes in theme object?

FYI: I read the documents of smooth-ui > xstyled > system.ui
- System.ui says fontSizes should be an array but xstyled is showing errors about missing keys. Is this a bug??
![image](https://user-images.githubusercontent.com/9330864/73544732-1d626100-443a-11ea-9387-d958f60ea7db.png)

- In any case, irrespective of how I define, the fontSizes in

[2020-02-03 21:25] gregberge commented on #164
Hello @siva3378, I am sorry I don't get the issue. Could you please try to explain what is the problem?

[2020-02-19 23:55] ividic opened #165 "Unable to retrieve the entire theme object from current ThemeProvider via `th`"
## 💥 Regression Report

In v10 I was able to retrieve any current value of the entire `theme` object from the current `ThemeProvider` via the `th` utility, which would get the default value if the one in the current theme is not set.

For example, in v10 I could style a `react-select` element via:

[code]

In v11, if I try:

[code]
Unless I've specified the `formControl.background` in my own theme

[2020-02-24 11:06] CodingDive opened #166 "Lines prop takes up more space than it needs in Text component"
First of all, I'd like to thank you for all the hard work on smooth-ui. It's one of my favorite component libraries!

## 🐛 Bug Report
[code]

Is taking up 10 lines of space. Most of which are rendered as white space.

## To Reproduce

Go to the [docs](https://www.smooth-code.com/open-source/smooth-ui/docs/text/#ellispis--multilines) and increment the value of the `lines` prop. You'll see white spa

[2020-02-24 19:21] gregberge commented on #166
This is the expected behaviour. If you specify a number of lines it measure the number of lines. It is not possible to implement what you are asking for without JavaScript. You should probably use a library to crop text and add `...`.

[2020-02-24 19:21] #166 closed

[2020-02-24 19:29] CodingDive commented on #166
`<Text>` is a React component so adding some more JS shouldn't be a problem. Would you accept a PR for this or would you rather have me implement this in user land?

[2020-02-25 10:04] gregberge commented on #166
@CodingDive yeah if it is perf I am open for a PR to fix it!

[2020-02-26 19:51] marcelofabianov opened #167 "TypeError: Invalid value used as weak map key"
## 💬 TypeError: Invalid value used as weak map key

using create-react-app and yarn add @smooth-ui/core-sc reakit styled-components

[2020-02-27 00:28] rogeliozx commented on #167
i have same issues

[2020-02-28 10:55] siva3378 commented on #164
@gregberge  apologies for my late reply. I'm looking for a sample theme object for responsive fontSizes of a text. In the above snippet, the Text component is accepting variant code along with fontSize prop which is a constant value. I would like to configure that within the theme object for text variant. So that I can avoid defining the fontSize prop every time whenever I use Text.

does it make

[2020-02-29 02:42] dimitropoulos opened #168 "This project has been added to the react-ui-roundup"
Hi!

I am making this issue just to let you know that I've included your amazing project in the [react-ui-roundup](https://github.com/dimitropoulos/react-ui-roundup).

For more information see https://github.com/dimitropoulos/react-ui-roundup/issues/2.

Please feel free to close this issue at will - I just wanted to let you know :smile:.

Thanks!

[2020-03-03 04:23] ividic commented on #167
You'll need to specify at least one `ThemeProvider` in somewhere up the component tree, even if it's empty:

[code]

If you would like to use the default theme:
[code]

[2020-03-03 04:43] ividic commented on #163
You need to specify a `ThemeProvider` - see #167

[2020-03-03 05:47] ividic opened #169 "Unable to use the Space key to toggle values in Checkbox and Radio components"
## 🐛 Bug Report

While it works in the Reakit Checkbox component, using the Space key to toggle the value in Checkbox/Radio doesn't work unless it's wrapped in a `FormCheckLabel` component. Using `htmlFor` doesn't work either.

## Expected behavior

Toggle Checkbox/Radio value by pressing Space

## Link to repl or repo (highly encouraged)

https://codesandbox.io/s/crazy-mcclintock-84ub3 - index.ht

[2020-03-07 13:24] gregberge opened #170 "Add DocSearch support"
Copy the following snippet at the end of the html HEAD tag:
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css"/>
Copy the following snippet at the end of the html BODY tag:
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js">
</script><script type="text/javascript">
docsearch({
  apiKey: '8af84

[2020-03-07 13:57] gregberge commented on #169
Hello @ividic, it is a bug. I don't have time to fix it, any PR welcome.

[2020-03-07 13:57] #163 closed

[2020-03-07 13:58] gregberge commented on #167
The workaround is actually to use a theme, but yes it is a bug.

[2020-03-07 13:58] gregberge commented on #167
Theme should not be mandatory to use this library.

[2020-03-07 13:59] gregberge commented on #168
Thanks!

[2020-03-07 14:00] gregberge commented on #164
Yeah, @siva3378 you have to code it into the `style` attribute of the theme:

[code]

[2020-03-07 14:00] #164 closed

[2020-03-09 13:58] siva3378 commented on #164
@gregberge Thanks anyway. I know I could do this, as I have mentioned in the initial question. Looking at a more easy way to define custom styles for responsive font sizes. Anyway, I got your point. Thanks for your contributions to this library & time to respond.

[2020-03-16 22:03] siva3378 opened #172 "smooth-ui should accept xstyled theme specification"
## 🐛 smooth-ui should accept xstyled theme specification

Default <Text> component's color should take value from the theme object. All the variants should also inherit the "text" color from theme object and then overrides its own variant color

## To Reproduce

Steps to reproduce the behaviour:

Add text key as per xstyled theme specification here: https://xstyled.dev/docs/color-modes/

[code]

[

[2020-03-21 20:07] RoryOfByrne commented on #79
+1 I'd like to use Smooth UI but there's no types available so I'm not using it.

[2020-04-04 21:41] siva3378 commented on #172
I found a way to deal with this at the moment by providing colour prop to the Text component and managing that colour in the theme. For example `color="primary"`.

[code]

[2020-04-04 22:15] agriffis opened #173 "Outline button confusion in doc?"
## 🐛 Bug Report

I am looking at smooth-ui for the first time. This is in the doc:

![Screen Shot 2020-04-04 at 18 12 11](https://user-images.githubusercontent.com/50637/78462443-f75a7680-769f-11ea-85cd-71d749eee47d.png)

Are those outline buttons? They look exactly like the non-outline buttons:

![Screen Shot 2020-04-04 at 18 11 33](https://user-images.githubusercontent.com/50637/78462454-178a358

[2020-04-05 18:34] gregberge commented on #173
Yes it is a bug. If someone want to fix it he his welcome.

[2020-04-17 08:50] corysimmons opened #174 "Docs broken"
![image](https://user-images.githubusercontent.com/224636/79550902-f560c200-8066-11ea-9c02-ee47485c1664.png)

![image](https://user-images.githubusercontent.com/224636/79550925-fc87d000-8066-11ea-88e4-562dc01539ce.png)

[2020-04-19 08:28] martinmares commented on #174
This urls works ok:

https://smooth-ui.netlify.app/docs/getting-started/
https://smooth-ui.netlify.app/docs/introduction/
...

But every links on every pages is broken. Example of broken links:

https://smooth-ui.netlify.app/open-source/smooth-ui/docs/getting-started/
https://smooth-ui.netlify.app/open-source/smooth-ui/docs/introduction/
...

[2020-04-20 17:40] gajewsky commented on #174
The docs are not accessible for couple days already. Maybe it would be a good idea to have it shipped to some alternative place as backup just in case

[2020-04-20 17:50] corysimmons commented on #174
I just clicked on this link.. It's still broken.

![image](https://user-images.githubusercontent.com/224636/79782875-bd2edd00-830d-11ea-9b6f-b891a8143ed9.png)

I will _never_ understand why people don't just do their docs in Gitbook with CodeSandbox links.

[2020-04-23 12:26] gajewsky commented on #174
@corysimmons @martinmares Since docs still don't work I forked repo and deployed it to gh-pages. Thought it might be a temporary help for you guys :)

https://gajewsky.github.io/smooth-ui/docs

[2020-04-30 07:21] cyrilchapon commented on #174
Super helping; I was at the point just before getting frustrating (coming a week later).
We need docs back though !

[2020-05-01 11:19] cyrilchapon commented on #174
@gajewsky did you fix something ? Maybe a PR ?

[2020-05-05 14:03] gajewsky commented on #174
Hey @cyrilchapon nope, just pulled repo and then deployed it. Some hosting issues probably. BTW I decided to move on and use some alternative ui framework

[2020-05-10 03:53] dhenson02 commented on #174
@gajewsky dont blame you.  unfortunate how lacking the docs are and a lot of props dont pass down like you would expect.

was fun playing with it tho :)

[2020-05-20 22:44] shivjsdev commented on #174
@gajewsky would you mind to specify which alternative ui framework you use now? Thanks.

[2020-06-01 16:39] gajewsky commented on #174
@shivjsdev I went with https://github.com/mui-org/material-ui :)

[2020-06-19 15:31] aadamsx commented on #174
@gajewsky why go with Material and now another Styled-Components based framework?

[2020-08-12 19:44] imdevan commented on #174
Still broken :'(

[2020-08-15 14:36] gregberge commented on #174
Hello, Smooth UI could start again one day. Currently it is not maintained. If someone submit a PR to fix docs (pointing to https://gajewsky.github.io/smooth-ui/docs/getting-started/ should be good). Then I will merge it.

[2021-07-30 19:30] Omar-Aziz commented on #174
![Kapture 2021-07-30 at 14 27 48](https://user-images.githubusercontent.com/23618431/127702767-f73325d0-e562-4a13-8bce-2f4e477f953f.gif)

Still

[2021-09-17 12:16] gregberge commented on #174
As I said, Smooth UI is deprecated.

[2021-09-17 12:16] #174 closed

[2022-04-18 14:30] oldmill1 opened #178 "Website documentation 404's"
## 🐛 Bug Report

Website docs 404z

## To Reproduce

go to the website for the project, click on documentation.

## Expected behavior

some docs